{% load static %}
<div class='well'>
    <img height="70px" src="{% static "images/logo.jpg" %}">
    <h3>Welcome to my blog</h3>
    <img src="https://vpn-services.bestreviews.net/wp-content/uploads/sites/13/bitcoin-logo-300x300.png" height="50px" width="50px" />
</div>