{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %} {{post.title}} 我的貼文 {% endblock %}
{% block headmessage %}
<h3 style="font-family: 微軟正黑體;">{{post.title}}</h3>
<a style="font-family: 微軟正黑體;" href="/">回首頁</a>
{% endblock%}
{% block content %}
 <p style='font-family: 微軟正黑體;font-size:16pt;font-weight:bold;'>
{{post.body | safe | linebreaksbr | markdown}}
 </p>
{% endblock%}